/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

.fade-in {
    animation: fadeIn 1s forwards; /* 1 Sekunde für Fade-In */
}

.fade-out {
    animation: fadeOut 1s forwards; /* 1 Sekunde für Fade-Out */
}

@keyframes fadeIn {
    from {
        opacity: 0;}
    to {
        opacity: 1;}}

@keyframes fadeOut {
    from {
        opacity: 1; /* Beginn mit 100% Sichtbarkeit */
    }
    to {
        opacity: 0; /* Ende mit 0% Sichtbarkeit */
    }
}




.navbar-nav a {
	color:black;
	margin-right: 5px;}

.navbar-nav a:hover {
	color:orange;
	transform: scale(1);
	transition: 0.3s;}

.navbar-collapse {
    justify-content: flex-end; /* Richtet die Links am rechten Rand aus */
}

.navbar-nav {
    display: flex; /* Setzt die Navbar-Elemente in eine Flexbox */
    flex-direction: column; /* Stellt die Links untereinander auf */
}


.nav-link {
    text-align: right; /* Text in den Links rechts ausrichten */
    transition: none; /* Verhindert, dass sich die Größe oder der Abstand ändert */
    padding: 10px 15px; /* Setzt festen Padding für Links */
}


.navbar-toggler {
    border: none; /* Entfernt den Rahmen */
}

.navbar-toggler .navbar-toggler-icon {
    background-color: transparent; /* Hintergrund transparent */
    width: 30px; /* Breite des Hamburger-Symbols */
    height: 3px; /* Höhe der "Striche" */
    position: relative;
    display: block; /* Block-Element */
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
    content: '';
    background-color: black; /* Farbe der "Striche" */
    display: block;
    height: 3px; /* Höhe der "Striche" */
    width: 100%; /* Breite der "Striche" */
    position: absolute; /* Positioniert die "Striche" */
    left: 0; /* Links ausrichten */
}

.navbar-toggler .navbar-toggler-icon:before {
    top: -8px; /* Abstand zwischen den "Strichen" */
}

.navbar-toggler .navbar-toggler-icon:after {
    top: 8px; /* Abstand zwischen den "Strichen" */
}

/* Entfernt den Rahmen des Navbar-Togglers bei Fokus */
.navbar-toggler:focus {
    outline: none; /* Entfernt den Standard-Fokusrahmen */
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.3); /* Schattierung um den Toggler */
}
    



html, body {
    width: 100%;
    overflow-x: hidden;}


@media (max-width: 800px) {
    #picture {
	background-repeat:no-repeat;
	background-size:auto;
	background-position: left;}
    }

html {
	scroll-behavior: smooth;}


.container-fluid {
	padding-left: 0;
	padding-right: 0;}

footer .row {
	width: 100%;
    margin-left: 0; 
    margin-right: 0;}



.header {
	background-color:white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;}



#picture {
	background-image: url("Datein/kelly-sikkema-TtsKN6qSf9A-unsplash.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 800px;
	margin-left: 0px;
	display: block;}



.header-text {text-align: center;}


header h2 {
	text-align: center;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 80px;
	color: whitesmoke;
	padding-top: 10px;
	padding-bottom: 40px;}

h2 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;}

h3 {
	text-align: center;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 60px;}

header h4 {
	text-align: center;
	font-family: Merriweather;
	font-style: italic;
	color: whitesmoke;
	padding-top: 300px;}

p {
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 30px;}

#Portfolio {
	text-align: center;
	background-color: lightslategray;
	padding-bottom: 50px;
	padding-top: 50px;}

.circle {
	text-align: center;
	color: white;
	scale: 280%;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 1px;}

.fa-solid {
	border-radius: 50%;
	background-color: orange;
	height: 25px;
	width: 25px;
	padding-top: 4px;}


.column {
	box-sizing: border-box !important;
	padding-bottom: 40px !important;
	paddding: 0px !important;
	margin: 10px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;}


#Services {
	padding-bottom: 100px;
	padding-top: 100px;}




footer {
    background-color: lightcoral;}

footer .row {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;}

footer .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    margin-bottom: 10px;}

.footericons {
    color: darkslategray;
    text-align: center; 
	scale: 150%;}
