/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/merriweather-v30-latin/merriweather-v30-latin-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Angabe/fonts/montserrat-v25-latin/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Abgabe/fonts/montserrat-v25-latin/montserrat-v25-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html {
    scroll-behavior: smooth;}

/*Fade in Animation bei Webiste*/
.fade-in {
    animation: fadeIn 1s forwards;}
.fade-out {
    animation: fadeOut 1s forwards;}
@keyframes fadeIn {
    from {
        opacity: 0;}
    to {
        opacity: 1;}}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }}



/* Navbar Eigenschaften */
/* Navbar Text */
.navbar-nav a {
	color:black;
	margin-right: 5px;}

/* Navbar Tex bei drüberhovern */
.navbar-nav a:hover {
	color:orange;
	transform: scale(1);
	transition: 0.3s;}

/* weitere Navbar Eigenschaften, alle wichtig aber schwierig zu erklären :) */
.navbar-collapse {
    justify-content: flex-end;}

.navbar-nav {
    display: flex;
    flex-direction: column;}

.nav-link {
    text-align: right;
    transition: none;
    padding: 10px 15px;}

.navbar-toggler {
    border: none;}

.navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    width: 30px;
    height: 3px;
    position: relative;
    display: block;}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
    content: '';
    background-color: black;
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;}

.navbar-toggler .navbar-toggler-icon:before {
    top: -8px;}

.navbar-toggler .navbar-toggler-icon:after {
    top: 8px;}

.navbar-toggler:focus {
    outline: none; 
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.3);}
    



html, body {
    width: 100%;
    overflow-x: hidden;}

html {
    scroll-behavior: smooth;}

/* Header Eigenschaften */
.header {
	background-color:white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;}

header h2 {
	text-align: center;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 80px;
	color: whitesmoke;
	padding-top: 10px;
	padding-bottom: 40px;} 
.header-text {text-align: center;}

header h4 {
	text-align: center;
	font-family: Merriweather;
	font-style: italic;
	color: whitesmoke;
	padding-top: 300px;}

#HinweisKrass {
    background-color: orange;
    padding-bottom: 30px;
    padding-top: 85px;}

#HinweisKrass h1 {text-align: center;}

#HinweisUrlaub {
    background-color: azure;
    padding-bottom: 30px;
    padding-top: 85px;}

#HinweisUrlaub h1 {text-align: center;}

#HinweisPrivat {
    background-color: azure;
    padding-bottom: 30px;
    padding-top: 85px;}

#HinweisPrivat h1 {text-align: center;}

#Öffnungszeiten {
    background-color: white;
    padding-top: 85px;
    padding-bottom: 30px;
    color: orange;
    text-align: center;
	font-family:Sleep‚‚‚‚montserrat;
	font-style: normal;;}

@media (max-width: 800px) {
    #picture {
	background-repeat:no-repeat;
	background-size:auto;
	background-position: left;}}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
align-items: center;}

/* Footer Eigenschaften */
footer {
    background-color:dimgrey;}

footer p {
    color: azure;}

.footericons {
    color: azure;
    text-align: center; 
	scale: 150%;}

footer .row {
	width: 100%;
    margin-left: 0; 
    margin-right: 0;}

footer .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    margin-bottom: 0px;}

#picture {
	background-image: url("Datein/kelly-sikkema-TtsKN6qSf9A-unsplash.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 800px;
	margin-left: 0px;
	display: block;}

h2 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;}

h3 {
	text-align: center;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 60px;}

p {
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 30px;}

#Portfolio {
	text-align: center;
	background-color: lightslategray;
	padding-bottom: 50px;
	padding-top: 50px;}

.circle {
	text-align: center;
	color: white;
	scale: 280%;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 1px;}

.fa-solid {
	border-radius: 50%;
	background-color: orange;
	height: 25px;
	width: 25px;
	padding-top: 4px;}

.column {
	box-sizing: border-box !important;
	padding-bottom: 40px !important;
	padding: 0px !important;
	margin: 10px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;}

#Services {
	padding-bottom: 100px;
	padding-top: 100px;}



    

#ScrollSection {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;}
    
#ScrollSection h2 {
    cursor: pointer;}


#ScrollSection {
        background-color: white;
        color: black;}

#ScrollSection a:hover {
    color:orange;
	transform: scale(1);
	transition: 0.3s;}

#ScrollSection h2 a {
        color: black;
        text-decoration: none;
        font-weight: normal;}

 


.portrait img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4; /* Einheitliches Verhältnis für alle Portraits */
}

.details {
    padding: 15px;
    text-align: center;
}

.details h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.details p {
    margin-bottom: 8px;
    font-size: 0.9em;
    color: #666;
}

/* Kleinere Karten nebeneinander */
.small-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.doctor {box-shadow: 0 4px 8px rgba(199, 149, 21, 0.1);}

.card {
    background-color: white;
    width: 300px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;}


/* Responsive Design für Mobilgeräte */
@media (max-width: 768px) {
    .large-card, .middle-card {
        flex-direction: column;
        align-items: center;
    }

    .large-card .portrait, .middle-card .portrait {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .small-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 75%;
    }
}